[Unit]
Description=Unite de demarrage de nodecellar
After=network.target

[Service]
Environment=NODECELLAR_PORT={{ nodecellar_port }}
Environment=MONGO_HOST={{nodecellar_mongodb_host }}
Environment=MONGO_PORT={{ nodecellar_mongodb_port }}
Type=simple
User=hassan
ExecStart=/usr/bin/node /opt/nodecellar-master/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

