[Unit]
Description=Unite de demarrage de nodecellar
After=network.target

[Service]
Environment=NODECELLAR_PORT=3000
Environment=MONGO_HOST=client-node04.halimi.lan
Environment=MONGO_PORT=27017
Type=simple
User=hassan
ExecStart=/usr/bin/node /opt/nodecellar-master/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

