[Unit]
Description=server.js
Documentation=https://example.com
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=hassan
ExecStart=/usr/bin/node /opt/nodecellar-master/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
